<div class="" ng-controller="QueryCtrl" ng-init="nextValidation()">

    <div class="page-title"><h2>クエリー管理</h2></div>
    
    <div class="box">
        <h4>選択したカラムに対する条件を設定してください</h4>

        <div class="row" >
            
            <div class="col-md-12 break-all label-box">
                <h3>選択しているカラム</h3>
                <div class="col-md-4" ng-repeat="item in selectColumns">
                    <div class="panel panel-success" >
                        <div class="panel-heading">{{item.table.logicalname}}.{{item.column.logicalname}}
                            <button type="button" class="close" ng-click="removeItem($index)">&times;</button>
                        </div>
                        <div class="panel-body">
                            指定した値
                            ものを条件とする
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 center" >
                <a class="btn btn-default" ng-href="#/query" >戻る</a>
                <button class="btn btn-default" ng-disabled="showSelectedColumnsBox" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>