<div class="" ng-controller="QueryCtrl" ng-init="nextValidation()">

    <div class="page-title"><h2>クエリー管理</h2></div>
    
    <div class="box">
        <h4>選択したカラムに対する条件を設定してください</h4>
        
        <div ng-if="isShowEditMessage" class="alert alert-info center" role="alert">
            {{queryName}}を更新します。
        </div>

        <form name="conditionForm" novalidate>
            
            <div class="row">
                <div class="col-md-12 break-all label-box row-height">
                    <h3>選択しているカラム</h3>
                    <div class="col-md-4 col-sm-height" ng-repeat="item in selectColumns">
                        <div class="panel panel-success" >
                            <div class="panel-heading">{{item.table.logicalname}}.{{item.column.logicalname}}
                                <button type="button" class="close" ng-click="removeItem($index)">&times;</button>
                            </div>
                            <div class="panel-body">
                                <section>{{item.column.description}}</section><br>
                                <condition-directive form="conditionForm" condition-append="item"></condition-directive>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row" >
                <div class="col-md-12 center" >
                    <a class="btn btn-default" ng-href="#/query{{docIdUrl}}" >戻る</a>
                    <button class="btn btn-default" ng-disabled="conditionForm.$invalid" ng-click="next()">次へ</button>
                </div>
            </div>
        </form>
    </div>
</div>