<div class="" ng-controller="QueryCtrl" ng-init="saveInitialize()">

    <div class="page-title"><h2>クエリー管理</h2></div>
    
    <div class="box">
        <h4>条件を組み立てて保存してください</h4>

        <div class="row vertical-container" >
            
            <div class="col-md-12">
                <form name="queryForm" novalidate>
                    <div>
                        <input type="text" class="form-control" placeholder="クエリー名" name="name" ng-model="query.query_name" ng-maxlength=30 ng-required="true"/>
                        <p class="item-error" ng-if="queryForm.name.$dirty && queryForm.name.$invalid">30文字以内で入力してください</p>
                    </div>
                </form>
            </div>
                
            <div class="col-md-6 col-sm-6">
                
                <div class="card-container" ng-model='selectColumns' drop-directive drop-area-key="1">
                    
                    <div class="card btn-draggable" ng-repeat="item in selectColumns track by $index" drag-item-directive dragindex="$index" >
                        <p>
                            {{item.table.logicalname}}.{{item.column.logicalname}}が{{item.selectedCondition.condtionString}}
                        </p>
                        
                        <div class="btn-group" ng-if="!$last">
                            <label class="btn btn-default" ng-model="item.selectedCondition.where" btn-radio='AND' uncheckable ng-click="createQuery($index, 'AND')">かつ</label>
                            <label class="btn btn-default" ng-model="item.selectedCondition.where" btn-radio='OR' uncheckable ng-click="createQuery($index, 'OR')">または</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
                <div class="box-gray mh" ng-model='sql' >
                    <p class="" ng-repeat="item in selectColumns">
                            {{item.table.logicalname}}.{{item.column.logicalname}}{{item.selectedCondition.symbol}}{{item.selectedCondition.input1}}
                            {{item.selectedCondition.where}}
                    </p>
                
                </div>
            </div>

            <div class="col-md-12 center" >
                <a class="btn btn-default" ng-href="#/query/set" >戻る</a>
                <button class="btn btn-default"  ng-disabled="queryForm.$invalid" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>