<div class="" ng-controller="QueryCtrl" ng-init="saveInitialize()">

    <div class="page-title"><h2>クエリー管理</h2></div>
    
    <div class="box">
        <h4>条件を組み立てて保存してください</h4>

        <div class="row vertical-container" >
            
            <div class="col-md-12">
                <form name="queryForm" novalidate>
                    <div>
                        <input type="text" class="form-control" placeholder="クエリー名" name="name" ng-model="query.query_name" ng-maxlength=30 ng-required="true"/>
                        <p class="item-error" ng-if="queryForm.name.$dirty && queryForm.name.$invalid">30文字以内で入力してください</p>
                    </div>
                </form>
            </div>
                
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" >
                <li class="list-group-item" ng-repeat="item in selectColumns" ng-model="item" drag-item-directive dragindex="$index">
                    {{item.table.logicalname}}.{{item.column.logicalname}}が
                    {{item.condition.value1}}{{item.selectedCondition.name}}
                </li>
              </ul>
            </div>
                
            <div class="col-md-6 col-sm-6">
                <div class="box-gray mh" ng-model='conditions' drop-directive drop-area-key="" >
                    <div class="panel panel-success" ng-repeat="condition in conditions" drag-item-directive dragindex="$index">
                        <div class="panel-heading">{{condition.table.logicalname}}.{{condition.column.logicalname}}
                            <button type="button" class="close" ng-click="removeItem($index)">&times;</button>
                        </div>
                        <div >
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="approach" btn-radio=1 uncheckable>かつ</label>
                                <label class="btn btn-default" ng-model="approach" btn-radio=2 uncheckable>または</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 center" >
                <a class="btn btn-default" ng-href="#/query/set" >戻る</a>
                <button class="btn btn-default"  ng-disabled="queryForm.$invalid" ng-click="save()">保存</button>
            </div>
        </div>
    </div>
</div>