    <div ng-mouseenter="enterCircle()" ng-mouseleave="leaveCircle()" ng-init="initialize()">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                
                <ul class="label-item legend">
                    <li><span class="trigger">トリガー型シナリオ</span></li>
                    <li><span class="sc-priod">スケジュール型シナリオ：期間指定</span></li>
                    <li><span class="sc-single">スケジュール型シナリオ：日付指定</span></li>
                </ul>
                <div class="pull-right">
                    <i class="fa fa-expand fa-2x" ng-click="showMonth()"></i>
                </div>
            </div>
        </div>
        
        <!-- week -->
        <div ng-if="isWeek" class="row relative">
            <i ng-if="showCircle" class="fa fa-chevron-circle-left fa-3x circle-left" ng-click="deforeDay()" ></i>
            <div class="row-height">
                <div class="col-xs-12 col-sm-2 col-md-2 col-sm-height" ng-repeat="(day, items) in calendarList">
                    <div class="inside inside-full-height">
                        <div>
                            <p>{{day}}</p>
                            <ul class="label-item">
                                <li  class="" ng-repeat="item in items">
                                    <span ng-class="{'trigger': isTrigger(item.scenario_type_detail), 'sc-priod': isScPriod(item.scenario_type_detail), 'sc-single': isScSingle(item.scenario_type_detail)}">
                                        <i ng-if="1==item.scenario_type_value" class="fa fa-calendar-o"></i>{{item.scenario_name}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <i ng-if="showCircle" class="fa fa-chevron-circle-right fa-3x circle-right" ng-click="nextDay()" ></i>
        </div>
        
        <!-- month -->
        <div ng-if="isMonth" class="row relative">
            <i ng-if="showCircle" class="fa fa-chevron-circle-left fa-3x circle-left" ng-click="deforeDay()" ></i>
            <div class="row-height">
                <div class="col-xs-12 col-sm-2 col-md-2 col-sm-height" ng-repeat="(day, items) in calendarList">
                    <div class="inside inside-full-height">
                        <div>
                            <p>{{day}}</p>
                            <ul class="label-item">
                                <li  class="" ng-repeat="item in items">
                                    <div ng-class="{'trigger': isTrigger(item.scenario_type_detail), 'sc-priod': isScPriod(item.scenario_type_detail), 'sc-single': isScSingle(item.scenario_type_detail)}">
                                        <i ng-if="1==item.scenario_type_value" class="fa fa-calendar-o"></i>{{item.scenario_name}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <i ng-if="showCircle" class="fa fa-chevron-circle-right fa-3x circle-right" ng-click="nextDay()" ></i>
        </div>
    </div>
