    <div class="box" ng-mouseenter="enterCircle()" ng-mouseleave="leaveCircle()" ng-init="initialize()">
        <div class="row relative">
            <i ng-if="showCircle" class="fa fa-chevron-circle-left fa-2x circle-left"></i>
            <div class="row-height">
                <div class="col-xs-12 col-sm-2 col-md-2 col-sm-height" ng-repeat="(day, items) in calendarList">
                    <div class="inside inside-full-height">
                        <div>
                            <p>{{day}}</p>
                            
                            <span class="label-m label-default" ng-repeat="item in items">
                                {{item.scenario_name}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <i ng-if="showCircle" class="fa fa-chevron-circle-right fa-2x circle-right"></i>
        </div>
    </div>
