    <div class="box" ng-mouseenter="enterCircle()" ng-mouseleave="leaveCircle()" ng-init="initialize()">
        <div class="row relative">
            <i ng-if="showCircle" class="fa fa-chevron-circle-left fa-2x circle-left"></i>
            
            <div class="row-height">
                
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Bシナリオ</span>
                            <span class="label-m label-default">Cシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Bシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-height">
                
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Bシナリオ</span>
                            <span class="label-m label-default">Cシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Bシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-sm-height">
                    <div class="inside inside-full-height">
                        <div>
                            <p>2015-08-01</p>
                            <span class="label-m label-default">Aシナリオ</span>
                            <span class="label-m label-default">Dシナリオ</span>
                            <span class="label-m label-default">Eシナリオ</span>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <i ng-if="showCircle" class="fa fa-chevron-circle-right fa-2x circle-right"></i>
        </div>
    </div>
