/*-----------------------------------------------
 * directive用のCSS
/*-----------------------------------------------
/**
 * common/commentDirective
 */

/**
 * common/dragdropDirective
 */

/**
 * common/menuDirective
 */

/**
 * common/pushDirective
 */
.push-active {
    background-color:#F2F2F2;
}
/**
 * common/rateDirective
 */

/**
 * common/autoCompleteDirective
 */
ul.complete-list {
  border:1px solid #eee;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  min-width: 150px;
  background-color: rgba( 0, 0, 0, 0.55);
  color: #FFF;
  
}
ul.complete-list > li {
  list-style: none;
  cursor: pointer;
  line-height: 1.5em;
}
.auto-complete-item-error {
  border-color: #FF0000;
  background-color: #FA8072;
}

.d-complete-input {
  max-width:150px;
}

/**
 * common/spinnerDirective.js
 */
spinner-directive {
  position:relative;
  top: 0;
  background-color: #000;
  opacity: 0.8;
}
spinner-directive > div {
  width:100%;
}
spinner-directive > div > img {
  position:absolute;
  top:50%;
  left:50%;
  z-index: 1000;
}

/**
 * d3/lineDirective.js
 */
.line-main {
  fill:none;
  stroke:#1572F9;
  stroke-width:1.5px;  
}

.line-avg {
  fill:none;
  stroke:#FF8C00;
  stroke-width:1.5px;
  border: dashed;
}
