/*-----------------------------------------------
 * directive用のCSS
/*-----------------------------------------------
/**
 * common/commentDirective
 */

/**
 * common/dragdropDirective
 */

/**
 * common/menuDirective
 */

/**
 * common/pushDirective
 */
.push-active {
    background-color:#F2F2F2;
}
/**
 * common/rateDirective
 */

/**
 * common/autoCompleteDirective
 */
ul.complete-list {
  border:1px solid #eee;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  min-width: 150px;
  background-color: rgba( 0, 0, 0, 0.55);
  color: #FFF;
  
}
ul.complete-list > li {
  list-style: none;
  cursor: pointer;
  line-height: 1.5em;
}
.auto-complete-item-error {
  border-color: #FF0000;
  background-color: #FA8072;
}

.d-complete-input {
  max-width:150px;
}

/**
 * common/spinnerDirective.js
 */
spinner-directive {
  position:fixed;
  background-color: #000;
  opacity: 0.8;
  top:50%;
  left:50%;
  z-index: 1000;
  display:block;
}
spinner-directive > div {
  width:100%;
}
spinner-directive > div > img {
  position:absolute;
  z-index: 1000;
}

/**
 * d3/lineDirective.js
 */
.axis path,
.axis line {
  fill:none;
  stroke:#000;
  shape-rendering:crispEdges;
}
.tick line{
  opacity: 0.2;
}
.line-title {
  text-align:center;
}
.line-main {
  fill:none;
  stroke:#FF8C00;
  stroke-width:1px;
}
.line-avg {
  fill:none;
  stroke:#A9A9A9;
  stroke-width:1px;
}

/**
 * common/drawerMenuDirective.js
 */
.buble-drawer-menu {
  position: absolute;
  border-radius: 50%;
  margin:10px;
  height:80px;
  width: 80px;
  border-width: 3px;
  border-color: #FF1493;
  background-color: #FF00FF;
  text-align: center;
  color: #FFF;
  box-sizing:border-box;
  font-size:20px;
  
}
