// bower:scss
// endbower
/*-----------------------------------------------*/
/* common
/*-----------------------------------------------*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  /*background-color: #f8f8f8;*/
  background-color: #489494;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 15px !important;
}
#body [ng-cloak],
#body .ng-hide {
  display: none !important;
}
img {cursor: pointer;}

ul#nav1 {
	font-size: 100%;
	font-weight: bold;
	list-style: none;
	position:fixed;
	top:40px;
	left:-200px;
	margin:0;
	z-index:10000;
}
#nav1 li {
	margin-bottom: 0.8em;
}
#nav1 li a {
	text-decoration: none;
	color: #333333;
	display:block;
	background-repeat:no-repeat;
	height:64px;
	padding-left:70px;
	line-height:64px;	
}
#nav1 li a:hover {
	color: #FF9900;
}
#nav1 .twitter{
	background-image:url(../images/icon/0119_1.png);
}
#nav1 .facebook{
	background-image:url(facebook.png);
}
#nav1 .youtube{
	background-image:url(youtube.png);
}
#nav1 .rss{
	background-image:url(rss.png);
}

.mh {
  min-height: 200px;
}
button.btn-clear,
button.close-button,
button.close-button-right,
button.close-button-left {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
  padding: 0;
}
.close-button {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.4;
  text-shadow: 0 1px 0 #fff;
}
.close-button-left {
  color: #000;
  float: left;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.4;
  text-shadow: 0 1px 0 #fff;
}
.close-button-right {
  color: #000;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.4;
  text-shadow: 0 1px 0 #fff;
}
.close-button:hover,
.close-button-left:hover,
.close-button-right:hover {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.8;
  text-shadow: 0 1px 0 #fff;
}  

ul > li > a > i {cursor: pointer;}

.sidebar {
  position: fixed;
  height:100%;
  top: 50px;
  width: 200px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
/*  opacity: 0.8;*/
  z-index: 9999;
}
.sidebar {
    padding-right: 0;
    padding-left: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li {
  line-height: 2.5em;
}

.sidebar ul li a {
  color: #000;
}

.sidebar ul li a:hover {
    background-color: #eee;
}

.question {
  background-color: #FFF;
  border: none;
}
.question > i {cursor: pointer;}

.form-control-add-fa2 {
  height:40px;
}
.pointer {cursor: pointer;}
.tag-column {width: 5%;}
.fa-td {font-size: 1.5em;}

/*-----------------------------------------------*/
/* table
/*-----------------------------------------------*/
table {
  font-size:15px;
}
table > thead > tr > th {
  background-color:#b5cdd9;
  border-color: #b5cdd9;
  border-bottom: #b5cdd9 !important; /*hack*/
}
table caption {text-align:center;}
@media screen and (max-width: 767px) {
  table thead {display: none;}
  table td {
    display: block;
    position:relative;
    padding: .4em .4em .4em 5em !important;
    word-break: break-all;
  }
  table td:before {
    content: attr(data-th)" :";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    padding: .4em 0 0 .8em;
  }
}

table.table-pointer > tbody > tr {
  cursor: pointer;
}
/*
input[type="number"] {
  max-width: 100px;
}
*/
/*@media screen and (min-width: 767px) {*/
/*  .vertical-container > form > div > input,*/
/*  .vertical-container > form > div > div >input {*/
/*    width: 70%;*/
/*  }*/
/*  .vertical-container > form > div  > ul {*/
/*    width: 70%;*/
/*  }*/
/*}*/

td > a,
li > a {
  cursor: pointer;
}

h5.title {
  font-size: 1.2em;
}
.header-fixed {
  position: fixed;
  top: 0;
  left:50%;  
  z-index: 9999;
}
.fixed,
.fixed-100 {
  position: fixed;
  top: 0;
  left:0;  
  z-index: 9999;
}
.fixed-100 {
  width: 100%;
}

.list-group-item > a {margin-right:10px;}
/*-----------------------------------------------*/
/* error
/*-----------------------------------------------*/
.list-error {
  margin-top: 10px;
  color: #FE2E2E;
}
.list-error i {margin-right: 7px;}
input.ng-invalid.ng-dirty {
  border: solid 1px red;
}
.vertical-container > form > div {position:relative}

.item-error {
  display: block;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.item-error:after {
  position: relative;
  top: -36px;
  left: -20%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

@media screen and (min-width: 768px) {
.item-error {
  display: block;
  position: absolute;
  padding: 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
  left: 40%;
  top: 20px;
  max-width: 400px;
}

.item-error:after {
  position: absolute;
  top: -15px;
  left: 10%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
}


/*-----------------------------------------------*/
/* background
/*-----------------------------------------------*/
.tartanmaker-1 {
  background: url(../images/background/tartan_dbe.png) repeat ;
}
.white{background-color: #FFF;}
.red{background-color: #0FF;}

/*-----------------------------------------------*/
/* title
/*-----------------------------------------------*/
.page-title {color:#FFF; text-align:left;}

h3 {
    position: relative;
    border-bottom: 4px double #000; 
    color: #000;
    font-size: 18px;
    margin-top:5px;
}
/*h3 > i {margin-right:10px;}*/
/*h3:before {*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 4px;*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    background: #000;*/
/*    content: "";*/
/*}*/

h4 {
  position: relative;
  color: #fff;
  background: #555;
  font-size: 20px;
  line-height: 1;
  margin: 10px -15px 10px -15px;
  padding: 15px 5px 10px 40px;
  box-shadow: 0 1px 3px #777;
}
h4:after,h4:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top: 5px solid #333;
}
h4:after {
  left: 0;
  border-right: 5px solid #333;
}
h4:before {
  right: 0;
  border-left: 5px solid #333;
}

h4 > a {
  margin-left: 10px;
  color:#000;
}

h4 > button {
  margin-left: 10px;
  color:#000;
}

h4 > input {
  line-height: 1.42857143;
  border-radius: 4px;
}

/*-----------------------------------------------*/
/* menu
/*-----------------------------------------------*/
/* bootstrap orverride */
.navbar {
  border-radius: 0px !important;
}
.nav > li > a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.nav > li > a > img {
  height: 48px;
  width: 48px;
}
.side-conteiner {
  height:100%;
  display:block;
  position: fixed;
}

.center {text-align:center;}
.center-b {text-align:center; margin-bottom: 10px;}

/*-----------------------------------------------*/
/* box area
/*-----------------------------------------------*/
.gray-box-area > div {
  background-color:#F2F2F2;
  border: 1px solid;
}

div .box {
  background-color: #fff;
  font-size: 1em;
  padding: 5px 5px 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  display: block;
}

div .box-gray {
  background-color: #f5f5f5;
  padding: 5px 5px 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  display: block;
}

div .overflow-box-s {
  overflow-y: auto;
  max-height: 100px;
}
div .overflow-box-m {
  overflow-y: auto;
  max-height: 200px;
}
div .overflow-box-l {
  overflow-y: auto;
  max-height: 300px;
}

div .break-all {
  word-break:break-all 
}

div .drop-join {
  left: 20%;
  display: table-cell;
  border: 2px dotted;
  width: 60px;
  height: 60px;
  position: relative;
}

div .drop-join-long {
  text-align:center;
  border: 2px dotted;
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #F5F5DC;
}

div .drop-join-long > p {
  padding-top: 20px;
}

div .card-cell-left {
  float: left;
  width: 80%;
}

.fixed-60 {
  height: 60px;
}

div .card-cell-right,
div .card-cell-right-b {
  text-align:right;
  height: 100%;
  width: 20%;
  float: right;
}
div .card-cell-right-b {
  vertical-align: button;
}

/*-----------------------------------------------*/
/* container
/*-----------------------------------------------*/
.task-container {
  width:80%;
  overflow-x: auto;
  clear: both;
}
.line-container {
  float: left;
  width: 250px;
  margin-right: 15px;
}
.card-container {
  height: auto;
  min-height: 100px;
}
.childlist {
  
  margin: 10px;
  padding: 10px;
  background-color: #d4d4d4;
  
}

/*orverride bootstrap */
.container {
  margin:5px;
}

.map-container {
  height: 680px;
  width: 100%;
}

.map-overlay {
  background: #4477aa none repeat scroll 0 0;
  border: 3px solid #336699;
  border-radius: 4px;
  box-shadow: 2px 2px 10px #333;
  color: #fff;
  display: block;
  font-size: 60px;
  line-height: 80px;
  opacity: 0.8;
  padding: 0 4px;
  text-align: center;
  text-shadow: 1px 1px 1px #666;  
}

.center-box {
  position: relative;
  transform: translateY(50%);
  margin: 0 auto;
}

.vertical-container > input,
.vertical-container > div,
.vertical-container > div > input,
.vertical-container > div > div, 
.vertical-container > form > div,
.vertical-container > form > div > div, 
.vertical-container > form > input {
  margin-bottom: 13px;
}

/*-----------------------------------------------*/
/* textarea
/*-----------------------------------------------*/
.card > textarea {
  width:100%;
  margin-bottom:10px;
}
/*-----------------------------------------------*/
/* panel
/*-----------------------------------------------*/
.arrorw-panel {
  float: left;
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}
.arrorw-panel: before {
  content: "";
  border: 12px solid transparent;
  left: -15px;
  border-right: 12px solid #d4d4d4;
}
.arrorw-panel: after {
  content: "";
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.arrorw-panel > textarea {border:none;width:100%;}
.arrorw-panel > input[type="email"] {border:none;width:100%;}

.user-panel-body {
  text-align:center;
}
.user-panel-body > img {
  height: 64px;
  width:64px;
} 

.bottom-fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}


/*-----------------------------------------------*/
/* D&D item
/*-----------------------------------------------*/
.card,
.card-info {
  background-color: #fff;
  font-size: 1em;
  padding: 5px 5px 10px 5px;
  margin-bottom: 5px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  display: block;
  cursor: move;
}
.card-info {
  overflow: hidden;;
}

.card:hover {
/* box-shadow */
/*box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;*/
/*-webkit-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;*/
/*-moz-box-shadow:rgba(113, 135, 164, 0.65098) 0px 0px 6px 3px;  */
    border: 1px solid rgba(113, 135, 164, 0.65098);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12), 0 6px 18px rgba(2, 98, 194, 0.12);
    transform: translate3d(0px, -3px, 0px);
    transition-duration: 0.2s;
}

.card-info:hover {
  background-color: #ddd 
}
.card > .content {width: 100%;}
.setting-list {
  display:inline-block;
  margin-top: 5px;
  padding: 0;
  width:100%;
}
@media screen and (min-width: 767px) {
  .scroll-on {
    overflow-y: auto;
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .scroll-on {
    overflow-y: auto;
    height: 500px;
  }
}

.card-gray {
  background-color: #f5f5f5;
  padding: 5px 5px 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  display: block;
}

/*-----------------------------------------------*/
/* calender
/*-----------------------------------------------*/

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row-back {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
.row-height > div {
  padding: 0px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  border-left: 1px solid #eee;
}
.row-height > div:first-child {
  border-right: 1px solid #eee;
}
.row-height > div:last-child {
  border-right: 1px solid #eee;
}

.inside > div {
  margin-bottom: 10px;
  padding: 0;
  height: 100%;
  word-break: break-all;
}
.inside > div > p {
  text-align: center;
  background-color: #b5cdd9;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  line-height: 2;
}
.inside > div > span {
  float:left;
  background-color: #40BFB0;
  line-height:1.5;
  margin: 2px 5px;
}
.inside > div > span > i {
  padding-right: 4px;
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

/*-----------------------------------------------*/
/* modal bootstrap orverride
/*-----------------------------------------------*/
.modal-content {
  margin-top: 120px;
}
.modal-header{
  padding: 0 15px;
}
.modal-header > img {
  float:left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.modal-body {

}
.modal-footer {
  background-color: #f5f5f5;
}

/*-----------------------------------------------*/
/* progress bootstrap orverride
/*-----------------------------------------------*/
.progress {
  height: 20px;
  margin-bottom: 5px;
  width: 85%;
  float: left;
}

.progress-left-image{
  margin-left: 6px;
  cursor: pointer;
}

/*-----------------------------------------------*/
/* label 
/*-----------------------------------------------*/
/*bootstrap orverride  */
.label-box {
  margin-top:10px;
  margin-bottom:10px;
  min-height: 107px;
}

.label {
  margin-right: 5px;
  font-size: 100%;
  line-height:2.5;
}

.label-close {
  color: #FFF;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  opacity: 0.9;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

.label-m {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

/*-----------------------------------------------*/
/* rate
/*-----------------------------------------------*/
.rate {cursor: pointer;}




ul.release-note {
  padding: 0;
  margin: 0;
  list-style-type:none;
}
ul.release-note > li {
  border-top: 1px dashed;
  margin-top:10px;
  padding: 5px 10px 0;
  font-size: 1em;
}
ul.release-note > li:last-child {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  margin-top:10px;
  padding: 5px 10px 0;
  font-size: 1em;
}
ul.release-note > li > div {
  margin-bottom:10px;
}

ul.release-note > li > div > p {
  margin:0;
  padding-left: 15px;
}

p.title {
  margin-top:5px;
  margin-bottom:5px;
}
hr.line {
  margin:5px;
}
div.cell{
  display:table-cell;
  float:left;
}
/*-----------------------------------------------*/
/* Other
/*-----------------------------------------------*/
div .two-row {
  padding-bottom: 40px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.collapse-down-img {
  position: relative;
  top: -15px;
  left: 220px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}