<div>
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a ng-if="!isOpenMenu" ng-click="openClose()"><i class="fa fa-arrow-circle-o-right fa-3x"></i></a>
              <a ng-if="isOpenMenu" ng-click="openClose()"><i class="fa fa-arrow-circle-o-left fa-3x"></i></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li>-->
            <!--  {{userName}}-->
            <!--</li>-->
            <li>
              <a ng-click="logout()" ><i class="fa fa-sign-out fa-3x"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div ng-show="isOpenMenu" class="sidebar menu-animate" ng-controller="HeadCtrl" ng-init="initialize()">
      <ul class="nav in">
        <li><a href="/#/">ダッシュボード</a></li>
        <li><a href="/#/query/list">クエリー管理</a></li>
        <li><a href="/#/segment">セグメント管理</a></li>
        <!--<li><a href="/#/scenario/trigger">トリガーシナリオ管理</a></li>-->
        <li><a href="/#/scenario/schedule">シナリオ管理</a></li>
        <li><a href="/#/approach">アプローチ管理</a></li>
        <li ng-if="isShowUser"><a href="/#/user">ユーザー管理</a></li>
        <li><a href="/#/access">操作履歴</a></li>
        <li><a href="/#/release">リリースノート</a></li>
      </ul>
    </div>
</div>