<div class="" ng-controller="SegmentCtrl" ng-init="initialize()">

    <div class="page-title"><h2>セグメント管理</h2></div>
    
    <div class="box">
        <h4>セグメント一覧
            <a class="btn btn-default" ng-href="/#/segment/control/">新規登録</a> 
        </h4>

        <div class="row" >
            <div class="col-md-12">
                
                <div ng-if="!showInfo" class="alert alert-info" role="alert">
                    作成しているセグメントはありません。
                </div>
                
                <div ng-if="showInfo" class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" class="form-control" placeholder="セグメントを絞り込みます" ng-model="segmentSearch" 
                            refine-directive refine-item="segmentList" keyword="segmentSearch" name-propertie="segment_name" >
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th>セグメント名</th>
                                <th>最終更新日</th>
                                <th>利用状況</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i,item) in segmentList">
                                <td data-th="名称"><a ng-href='/#/segment/control/{{item.segment_id}}'>{{item.segment_name}}</a></td>
                                <td data-th="更新日">{{item.update_date}}</td>
                                <td ng-if="item.isUsed" data-th="状況">使用中</td>
                                <td ng-if="!item.isUsed" data-th="状況">未使用</td>
                                <td><a target="_blank" href="/segment/{{item.segment_id}}/download"><i class="fa fa-download fa-2x"></i></a></td>
                                <td><button class="close-button" ng-click="remove(i)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>