<!-- 
コメント追加用モーダル

[scope]
comentList {array} 表示するコメントの配列
comments {string} 入力したコメント

@author niikawa
-->
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h3>コメントを入力</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="arrorw-panel form-group">
                <textarea placeholder="コメントを入力してください" ng-model="modalParam.newComment"/>
            </div>
        </div>
    </div>
    
    <div accept=".jpg,.png,.gif" ng-multiple="true" drag-over-class="file-upload-dragover" ng-model="files" ng-file-drop class="file-upload-area">
        <span class="fa fa-cloud-upload fa-5x"></span>
        <p><span class="lead">ファイルをドロップ</span><br>または</p>
        <label class="btn btn-info btn-lg" for="file">ファイルを選択</label>
        <input type="file" ng-file-change="upload($files)" ng-file-select multiple="multiple" name="file" id="file">
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()">閉じる</button>
    <button class="btn btn-primary" ng-click="modalParam.execute()">追加する</button>
</div>