<div class="" ng-controller="ScenarioCtrl" ng-init="initialize()">

    <div class="page-title"><h2>シナリオ管理</h2></div>
    
    <div class="box">
        <h4>{{addPageTitle}}一覧
            <a class="btn btn-default" ng-href="/#/scenario/{{type}}/control/">新規登録</a> 
        </h4>

        <div class="row" >
            <div class="col-md-12">
                <div ng-if="!isScenarioShow" class="alert alert-info" role="alert">
                    作成しているシナリオはありません。
                </div>
                
                <div ng-if="isScenarioShow" class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" class="form-control" placeholder="シナリオを絞り込みます" ng-model="scenarioSearch" 
                            refine-directive refine-item="scenarioList" keyword="scenarioSearch" name-propertie="scenario_name|searchTag" >
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="tag-column"></th>
                                <th>シナリオ名</th>
                                <th>利用状況</th>
                                <th>アプローチ</th>
                                <th>最終更新日</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, item) in scenarioList">
                                <td data-th=""><i ng-if="item.searchTag" class="fa fa-tags fa-td"></i></td>
                                <td data-th="名称"><a ng-href='/#/scenario/{{type}}/control/{{item.scenario_id}}'>{{item.scenario_name}}</a></td>
                                <td data-th="利用状況">{{item.status}}
                                <span ng-if="0 == item.valid_flag" class="list-error"><i class="glyphicon glyphicon-alert"></i>設定していたセグメントが削除されています。</span>
                                </td>
                                <td data-th="アプローチ">{{item.approach}}</td>
                                <td data-th="更新日">{{item.update_date}}</td>
                                <td>
                                    <close-button-direcitve execute=remove(i)></close-button-direcitve>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>