        <div class="container">
            <div class="center"><h1>Customer Profile</h1></div>
            
            <div class="row col-md-12">
                <div class="pull-left">顧客#: 9999-9999</div>
            </div>
            
            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">ランク</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">直近購買日（R）</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">購買頻度（F）</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">購買金額（M）</div>
                    </div>
                </div>
            </div>
            <!-- サマリ -->
            <div class="row">
                
            </div>
            
            <!-- アプローチ方法 -->
            <div class="row">
                <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th>#</th>
                        <th>カテゴリ</th>
                        <th>タイトル</th>
                        <th>タイミング</th>
                        <th>内容</th>
                    </tr>
                </table>
                </div>
            </div>
            
        </div>

