        <div class="container" ng-controller="MainCtrl" ng-init="initialize()">
            <div class="center"><h1>Customer Profile</h1></div>
            
            <div class="row col-md-12">
            <div class="pull-left">
              <auto-complete-directive item-list="customerList" selected-item="selectedCustomer" 
                name-propertie="Id" 
                append-string = "顧客#:"
                execute="custmoerChangeExecute()">
              </auto-complete-directive>
            </div>
                
                
            </div>
            
            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">ランク</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">直近購買日（R）</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">購買頻度（F）</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">購買金額（M）</div>
                    </div>
                </div>
            </div>
            <!-- サマリ -->
            <div class="row col-md-12">
                
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    さまりーの表は何で作ろうか？
                </div>
            </div>
            
            <!-- アプローチ方法 -->
            <div class="row">
                <div class="col-md-12">
                    
                    <table class="table table-bordered table-hover">
                        <caption>アプローチ方法</caption>
                        <thead>
                            <tr class="info">
                                <th>#</th>
                                <th>カテゴリ</th>
                                <th>タイトル</th>
                                <th>タイミング</th>
                                <th>内容</th>
                            </tr>
                        </thead>
                        <!--  ここデータでとるところ -->
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>全般</td>
                                <td>新規優良顧客化に向けて</td>
                                <td>-</td>
                                <td>新規優良顧客化が望める顧客です。<br>
                                    積極的にアプローチしましょう。
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

