<div class="" ng-controller="UserControlCtrl" ng-init="initialize()">

    <div class="page-title"><h2>ユーザー管理</h2></div>
    
    <div class="box">
        <h4>{{pageTitle}}
        </h4>

        <div class="row" >
            
            <div class="col-md-12 vertical-container">
                
                <form name="userForm" novalidate>
                    <!-- アカウントID -->
                    <input type="text" class="form-control" placeholder="アカウントID" name="account_id" 
                        ng-model="userData.account_id" ng-model-options="{updateOn: 'blur'}" ng-minlength=3 ng-maxlength=20 ng-pattern="/^[a-zA-Z0-9]*$/" ng-required="true" />
                    <p ng-if="userForm.account_id.$dirty || userForm.account_id.$submitted">3文字以上20文字以内の半角数値で入力してください</p>

                    <input type="password" class="form-control" placeholder="パスワード再入力"/>
        
                    <!-- ユーザー名 -->
                    <input type="text" class="form-control" placeholder="ユーザー名" ng-model="userData.user_name" />
                    
                    <!-- 権限 -->
                    <ul class="list-group overflow-box-l" >
                        <li class="list-group-item" ng-repeat="item in roleList" push-directive info="item" >
                        {{item.role_name}}
                        <section>{{item.description}}</section>
                        </li>
                    </ul>
                    <div class="row　col-md-12 center" >
                        
                        <a class="btn btn-default" ng-href="#/user" >戻る</a>
                        <button class="btn btn-default" ng-disabled="userForm.$invalid" ng-click="save()">保存</button>
                        
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>