<div class="" ng-controller="UserControlCtrl" ng-init="initialize()">

    <div class="page-title"><h2>ユーザー管理</h2></div>
    
    <div class="box">
        <h4>{{pageTitle}}
        </h4>

        <div class="row" >
            
            <div class="col-md-12 vertical-container">
                
                <form name="userForm" novalidate>
                    <!-- ユーザー名 -->
                    <div>
                        <input type="text" class="form-control" placeholder="ユーザー名" name="name" ng-model="user.name" ng-maxlength=30 ng-required="true"/>
                        <div class="item-error-box" ng-if="userForm.name.$dirty && userForm.name.$invalid">
                            <p class="item-error">30文字以内で入力してください</p>
                        </div>
                    </div>
                    
                    <!-- メールアドレス -->
                    <div>
                        <input type="email" class="form-control" placeholder="メールアドレス" name="mailaddress" 
                            ng-model="user.mailaddress" ng-maxlength=255 ng-required="true"
                            my-async-validators="asyncValidators.mailaddress" />
                        <div class="item-error-box" ng-if="userForm.mailaddress.$dirty && !userForm.mailaddress.$valid">
                            <p class="item-error">形式が不正です</p>
                        </div>
                        <div class="item-error-box" ng-messages="userForm.mailaddress.$dirty && userForm.mailaddress.$error">
                            <p class="item-error" ng-message="same">すでに登録されているメールアドレスです</p>
                        </div>
                    </div>
                    
                    <!-- パスワード -->
                    <div ng-if="2==pageType" class="btn-group">
                        <label class="btn btn-default" ng-model="passwordEdit.show" btn-radio="'1'" uncheckable>パスワードを変更する</label>
                    </div>
                    <div ng-if="passwordEdit.show=='1'">
                        <div>
                            <input type="password" class="form-control" name="password" placeholder="パスワード"
                                ng-model="user.password" my-validators="validators.password"
                                ng-minlength=6 ng-pattern="/^[a-zA-Z0-9]*$/" ng-required="true" />
                            <div class="item-error-box" ng-if="userForm.password.$dirty && userForm.password.$invalid">
                                <p class="item-error">6文字以上の半角英数値で入力してください</p>
                            </div>
                            <div class="item-error-box" ng-messages="userForm.password.$dirty && userForm.password.$error">
                                <p class="item-error" ng-message="same">ユーザー名と異なるパスワードにしてください</p>
                            </div>
                        </div>
                        
                        <div>
                            <input type="password" class="form-control" name="password_confirm" ng-model="user.password_confirm" placeholder="パスワード再入力"
                                my-validators="validators.password_confirm" ng-required="true" />
                            <div class="item-error-box" ng-messages="userForm.password_confirm.$error">
                                <p class="item-error" ng-message="confirm">パスワード確認が一致しません</p>
                            </div>
                        </div>
                    </div>
                    <!-- 権限 -->
                    <div>
                        <ul class="list-group overflow-box-l" name="selected_role" ng-model="user.role_id" my-validators="validators.selected_role">
                            <li class="list-group-item clearfix" ng-repeat="item in roleList" 
                                push-directive list="roleList" info="item" active="user.role_id" activekey="role_id">
                            {{item.role_name}}
                            <section>{{item.description}}</section>
                            </li>
                        </ul>
                        <div ng-messages="userForm.selected_role.$dirty && userForm.selected_role.$error">
                            <p class="item-error" ng-message="role">ロールを選択してください</p>
                        </div>
                    </div>
                    <div class="row　col-md-12 center" >
                        <a class="btn btn-default" ng-href="#/user" >戻る</a>
                        <button class="btn btn-default" ng-disabled="userForm.$invalid" ng-click="save()">保存</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>