
    <div class="col-md-12">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="specificInfo.repeat_flag" btn-radio=0 uncheckable>一度だけ実行</label>
            <label class="btn btn-default" ng-model="specificInfo.repeat_flag" btn-radio=1 uncheckable>繰り返し実行</label>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="btn-group">
            <input type="text" class="form-control" name="expiration_start_date" 
                ng-model="specificInfo.expiration_start_date" placeholder="" ng-required="true"
                my-validators="validators.expiration_start_date">
            <div ng-messages="scenarioForm.expiration_start_date.$dirty && scenarioForm.expiration_start_date.$error">
                <p class="item-error" ng-message="isDateValid">有効な日付ではありません。YYYY-MM-DD形式で入力してください</p>
            </div>
        </div>
    </div>

    <div ng-if="specificInfo.repeat_flag==1" class="vertical-container">
        <div class="col-md-1">
        ～
        </div>
        <div class="col-md-3">
            <div class="btn-group">
                <input type="text" class="form-control" name="expiration_end_date" 
                    ng-model="specificInfo.expiration_end_date" placeholder="" ng-required="true"
                    my-validators="validators.expiration_end_date">
                <div ng-messages="scenarioForm.expiration_end_date.$dirty && scenarioForm.expiration_end_date.$error">
                    <p class="item-error" ng-message="isDateValid">有効な日付ではありません。YYYY-MM-DD形式で入力してください</p>
                </div>
                <div ng-messages="scenarioForm.expiration_end_date.$dirty && scenarioForm.expiration_end_date.$error">
                    <p class="item-error" ng-message="isAfter">開始日より未来の日付を入力してください。</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="$parent.specificInfo.interval" btn-radio=1 uncheckable>毎日</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.interval" btn-radio=2 uncheckable>毎週</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.interval" btn-radio=3 uncheckable>毎月</label>
            </div>
        </div>
    
        <div ng-if="2==$parent.specificInfo.interval" class="col-md-12">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.mon" btn-checkbox=1 uncheckable>月</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.tue" btn-checkbox=2 uncheckable>火</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.wed" btn-checkbox=3 uncheckable>水</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.thu" btn-checkbox=4 uncheckable>木</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.fri" btn-checkbox=5 uncheckable>金</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.sat" btn-checkbox=6 uncheckable>土</label>
                <label class="btn btn-default" ng-model="$parent.specificInfo.weekCondition.sun" btn-checkbox=7 uncheckable>日</label>
            </div>
        </div>

        <div ng-if="3==$parent.specificInfo.interval">
            <div class="col-md-12">
                <div class="btn-group">
                    <label ng-repeat="item in $parent.specificInfo.intervalConditionList track by $index" 
                        class="btn btn-default" ng-model="item.check" btn-checkbox=1 uncheckable>{{item.name}}</label>
                </div>
            </div>
        </div>
    </div>