    <input type="number" class="form-control" placeholder="イベント発生後日数" ng-model="scenario.after_event_occurs_num">
    <input type="number" class="form-control" placeholder="無効期間日数" ng-model="scenario.inoperative_num">
    <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" class="form-control" placeholder="アクションを絞り込みます" ng-model="actionSearch" 
            refine-directive refine-item="actionList" keyword="actionSearch" name-propertie="action_name" >
        </div>
        <ul class="list-group overflow-box-s" >
            <li class="list-group-item" ng-repeat="item in actionList" push-directive info="item" ng-click="show(item.action_id)">
                {{item.log_name}}
            </li>
        </ul>
    </div>
    <div ng-if="isShowExtraction">
        <table class="table table-hover">
            <caption>抽出条件<i class="fa fa-plus-square"></i></caption>
            <thead>
                <tr class="info">
                    <th>対象項目</th>
                    <th>値</th>
                    <th>選択</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in segmentList">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn" ng-click="removeItem"><i class="fa fa-times"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
