    <div class="row">
        <div class="col-lg-6">
            <input type="number" class="form-control" placeholder="イベント発生後日数" 
                ng-model="scenario.after_event_occurs_num" ng-required="true">
        </div>
        <div class="col-lg-6">
            <input type="number" class="form-control" placeholder="無効期間日数"
                ng-model="scenario.inoperative_num" ng-required="true">
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" class="form-control" placeholder="アクションを絞り込みます" ng-model="actionSearch" 
            refine-directive refine-item="actionList" keyword="actionSearch" name-propertie="logicalname|description" >
        </div>
        <ul class="list-group overflow-box-l" >
            <li class="list-group-item" ng-repeat="item in actionList" push-directive info="item" ng-click="show(item.physicalname)">
                <p>{{item.logicalname}}</p>
                <section>{{item.description}}</section>
            </li>
        </ul>
    </div>
    <div ng-if="isShowExtraction">
        
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" class="form-control" placeholder="カラムを絞り込みます" ng-model="columnSearch" 
                            refine-directive refine-item="columnList" keyword="columnSearch" name-propertie="logicalname|description" >
                    </div>
                    <ul class="list-group" >
                        <li class="list-group-item fixed-60" ng-repeat="item in columnList">
                            <div class="card-cell-left">
                                {{item.logicalname}}
                                <section>{{item.description}}</section>
                            </div>
                            <div class="card-cell-right">
                                <button class="btn-clear" ng-click="moveCondition(item)"><i class="fa fa-plus-square fa-2x"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
                
            <div class="col-md-6 col-sm-6" >
                <div class="box-gray mh">
                    
                    <div class="panel panel-success" >
                        
                        <div class="panel-body" ng-repeat="(i, condition) in conditions">
                            
                            <button type="button" class="close" ng-click="removeItem(i)">&times;</button>
                            {{condition.logicalname}}が
                            <condition-directive condition-append="condition"></condition-directive>
                            
                            <div ng-if="!$last" class="col-md-12 center">
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-model="condition.where" btn-radio="'AND'" uncheckable>かつ</label>
                                    <label class="btn btn-default" ng-model="condition.where" btn-radio="'OR'" uncheckable>または</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer center">
                        <button ng-click="decision()" class="btn btn-default">決定</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-md-12 col-sm-12">
                
                <ul class="list-group" >
                    <li class="list-group-item fixed-60" ng-repeat="item in decisionList">
                        {{item}}
                        <span type="button" class="label-close" ng-click="removeColumn($index)">&times;</span>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
