    <div class="row">
        <div class="col-lg-6">
            <input type="number" class="form-control" placeholder="イベント発生後日数" 
                ng-model="scenario.after_event_occurs_num" ng-required="true">
        </div>
        <div class="col-lg-6">
            <input type="number" class="form-control" placeholder="無効期間日数"
                ng-model="scenario.inoperative_num" ng-required="true">
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" class="form-control" placeholder="アクションを絞り込みます" ng-model="actionSearch" 
            refine-directive refine-item="actionList" keyword="actionSearch" name-propertie="logicalname|description" >
        </div>
        <ul class="list-group overflow-box-l" >
            <li class="list-group-item" ng-repeat="item in actionList" push-directive info="item" ng-click="show(item.physicalname)">
                <p>{{item.logicalname}}</p>
                <section>{{item.description}}</section>
            </li>
        </ul>
    </div>
    <div ng-if="isShowExtraction">
        
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" class="form-control" placeholder="カラムを絞り込みます" ng-model="columnSearch" 
                            refine-directive refine-item="columnList" keyword="columnSearch" name-propertie="logicalname|description" >
                    </div>
                    <ul class="list-group" >
                        <li class="list-group-item" ng-repeat="item in columnList track by $index" ng-model="columnList" drag-item-directive dragindex="$index">
                            {{item.logicalname}}
                            <section>{{item.description}}</section>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="card-container" ng-model='conditions' drop-directive drop-area-key="1">
    
                    <div ng-class="{childlist: isJoin(items)}" ng-repeat="(i, items) in conditions track by $index" >
                        
                        <!-- ここがdragするやつ -->
                        <div class="card-info btn-draggable" ng-repeat="(j, item) in items track by $index" drag-item-directive dragindex="i">
                            
                            <div class="card-cell-left">
                                <div >
                                    <p>
                                        {{item.logicalname}}
                                    </p>
                                    
                                    <div class="btn-group" ng-if="!$parent.$last || !$last">
                                        <label class="btn btn-default" ng-model="item.condition.where" btn-radio="'AND'" uncheckable>かつ</label>
                                        <label class="btn btn-default" ng-model="item.condition.where" btn-radio="'OR'" uncheckable>または</label>
                                    </div>
    
                                    <div class="btn-group" ng-if="!$last || j > 0">
                                        <label class="label label-success " ng-click="release(i, j)">
                                            解除
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div ng-if="!isJoin(items)" class="card-cell-right" drop-join-directive ng-model="items">
                                <div class="drop-join"></div>
                            </div>
                        </div>
                        <div ng-if="isJoin(items)" drop-join-directive ng-model="items">
                            <div class="drop-join-long"><p>まとめる条件をドロップしてください</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
