<div class="" ng-controller="BugCtrl" ng-init="initialize()">
    <div class="page-title"><h2>報告ボード</h2></div>
    
    <div class="box">
        <h4>状況を報告します <a class="btn btn-default" ng-click="show()">バグ・要望を送る</a></h4>

        <div class="row vertical-container" >
            <div class="col-md-12">
                
                <div class="btn-group" ng-click="getByCondition()">
                    <label class="btn btn-default" ng-model="bug.status" btn-radio=1 uncheckable>未解決</label>
                    <label class="btn btn-default" ng-model="bug.status" btn-radio=0 uncheckable>解決済み</label>
                </div>
                
                <div class="btn-group" ng-click="getByCondition()">
                    <label class="btn btn-default" ng-model="bug.type" btn-radio=1 uncheckable>バグ</label>
                    <label class="btn btn-default" ng-model="bug.type" btn-radio=2 uncheckable>要望</label>
                </div>
                
            </div>
            
            <div class="col-md-12">
                
                <div ng-if="!isBugShow" class="alert alert-info" role="alert">
                    条件に合うものはありません。
                </div>

                <div ng-if="isBugShow" class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          <input type="text" class="form-control" placeholder="絞り込みます" ng-model="bugSearch" 
                            refine-directive refine-item="bugList" keyword="bugSearch" name-propertie="title|contents" >
                      </div>
                      <ul class="list-group" >
                        <li class="list-group-item" ng-repeat="(i, item) in bugList" >
                            <i class="fa fa-clock-o fa-fw"></i>{{item.create_date}}
                            <p>{{item.category_name}}</p>
                            <div ng-if="1==item.role_id" class="pull-left">
                                <button class="btn btn-primary" ng-click="resolve(i)">解決</button>
                            </div>
                            <div>
                                <p>{{item.title}}</p>
                                <p>{{item.contents}}</p>
                            </div>
                        </li>
                      </ul>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>
        
