<div class="" ng-controller="BugCtrl" ng-init="initialize()">
    <div class="page-title"><h2>障害報告ボード</h2></div>
    
    <div class="box">
        <h4>現在の把握している障害と状況について <a class="btn btn-default" ng-click="show()">障害・要望を送る</a></h4>

        <div class="row" >
            <div class="col-md-12">
                
                <ul class="release-note" ng-repeat="(i, item) in bugList">
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>{{item.create_date}}
                        </div>
                        <div>
                            <p>{{item.title}}</p>
                            <p>{{item.contents}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
