<div>
    <div class="page-title"><h2>リリースノート（仮）</h2></div>
    
    <div class="box">
        <h4>リリース情報をお伝えします <a class="btn btn-default" href="#/release/bug">障害報告・要望はこちら</a></h4>

        <div class="row" >
            <div class="col-md-12">
                
                <ul class="release-note">
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-14 19:00
                        </div>
                        <div>
                            <p>障害報告ボードと要望/障害報告フォームをリリースしました</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-14 15:00
                        </div>
                        <div>
                            <p>スケジュール型シナリオをリリースしました。</p>
                            <p>また軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-13 17:00
                        </div>
                        <div>
                            <p>ログイン画目のremenberを削除しました。</p>
                            <p>これにともない、セッションタイムアウト時間を長くする予定です。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-13 11:00
                        </div>
                        <div>
                            <p>ベータ版リリースしました！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
