<div>
    <div class="page-title"><h2>リリースノート（仮）</h2></div>
    
    <div class="box">
        <h4>リリース情報をお伝えします <a class="btn btn-default" href="#/release/bug">バグ報告・要望はこちら</a></h4>

        <div class="row" >
            <div class="col-md-12">
                
                <ul class="release-note">
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-17 19:00
                        </div>
                        <div>
                            <p>カレンダーに表示されるシナリオをリンクにしました。</p>
                            <p>一部権限制御を追加しました。</p>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-14 18:30
                        </div>
                        <div>
                            <p>カレンダー機能をリリースしました。</p>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-11 12:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-10 22:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-10 12:00
                        </div>
                        <div>
                            <p>シナリオをタグで検索できるようにしました</p>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-09 23:00
                        </div>
                        <div>
                            <p>シナリオにタグをつけれるようにしました</p>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-06 14:00
                        </div>
                        <div>
                            <p>DBアップグレードに伴いサーバー処理の変更を行いました</p>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-08-04 23:00
                        </div>
                        <div>
                            <p>アプローチ管理のエフェクト変更</p>
                            <p>セグメント作成時のクエリ作成方法をD&Dからボタンセレクトに変更</p>
                            <p>メニューの順番を変更</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-27 10:00
                        </div>
                        <div>
                            <p>セグメント画面表示時の500エラー対応</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-23 10:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                            <p>パフォーマンス向上。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-22 10:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-21 10:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                            <p>以降のベータ版アップデートはバグ修正バージョンになります。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-20 16:30
                        </div>
                        <div>
                            <p>セグメント結果がダウンロードできるようになりました。</p>
                            <p>大量データに関してはまだ検証できていませんがベータ版としては問題ないレベルです。</p>
                            <p>これで機能的にはそろったと思われます。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-17 19:00
                        </div>
                        <div>
                            <p>node expressのバージョンをexpress@4.8.8にアップグレードしたのでserver処理を変更しました。</p>
                            <p>セグメントのダウンロードは動きますが固定のCSVしかダウンロードできません。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-17 15:00
                        </div>
                        <div>
                            <p>軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-16 18:00
                        </div>
                        <div>
                            <p>ヘッダーとサイドメニューを固定化しました。</p>
                            <p>個人的にメニューの常時固定は好きではないのでサイドメニューは閉じれるようにしてます。</p>
                            <p>ちょっとアニメーションが雑になった気がする。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-16 14:30
                        </div>
                        <div>
                            <p>クエリー一覧を新設しました。</p>
                            <p>クエリー一覧からの遷移で作成したクエリーが更新できます。</p>
                            <p>また、一覧の利用状況からどのセグメントに使われているか確認できるようにしました。</p>
                            <p>前バージョンと同様セグメント作成からもクエリー作成へ遷移できます。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-14 19:00
                        </div>
                        <div>
                            <p>障害報告ボードとバグ/要望報告フォームをリリースしました。</p>
                            <p>リリースノート画面の[バグ報告・要望はこちら]からご利用ください。</p>
                            <p>管理者権限を持っている場合は、「解決」ボタンが表示されクローズできます。</p>
                            <p>この機能は僕が管理するのに必要だと思って作った機能なので使い勝手は突っ込まないでくださいｗ</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-14 15:00
                        </div>
                        <div>
                            <p>スケジュール型シナリオをリリースしました。</p>
                            <p>また軽微なバグを修正しました。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-13 17:00
                        </div>
                        <div>
                            <p>ログイン画目のremenberを削除しました。</p>
                            <p>これにともない、セッションタイムアウト時間を長くする予定です。</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fa fa-clock-o fa-fw"></i>2015-07-13 11:00
                        </div>
                        <div>
                            <p>ベータ版リリースしました！</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
